<div class="login-container">

    <div class="credentials-login">
        <label for="login">Login</label>
        <input ng-model="vm.login" type="text" id="login">
        <label for="password">Password</label>
        <input ng-model="vm.password" type="text" id="password">
        <button ng-click="vm.credentialsLogin()">Log in!</button>
        <button ng-click="vm.logout()">Logout!</button>
        <button ng-click="vm.testApi()">Send request to our backend</button>
        <button ng-click="vm.testSecureApi()">Send request to our secure backend</button>
    </div>
    <div class="fb-login"></div>

</div>